@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?weanwe");
  src: url("../fonts/icomoon.eot?weanwe#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?weanwe") format("truetype"), url("../fonts/icomoon.woff?weanwe") format("woff"), url("../fonts/icomoon.svg?weanwe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-plus,
.icon-minus {
  font-size: 14px; }

.icon-x-altx-alt {
  color: #ba122b;
  font-size: 20px; }

.icon-check-alt {
  color: #66cc66;
  font-size: 20px; }

.icon-check-alt:before {
  content: "\e900"; }

.icon-plus:before {
  content: "\e901"; }

.icon-minus:before {
  content: "\e902"; }

.icon-x-altx-alt:before {
  content: "\e903"; }

.container {
  max-width: 930px; }

nav a {
  color: #5b5a5a; }

nav a:hover {
  color: #5335eb; }

nav .active a {
  color: #5335eb;
  border-bottom: 2px solid #5335eb; }

.navbar-nav .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0; }

.navbar-toggler {
  margin-bottom: 10px; }

.carousel-item {
  height: 400px;
  max-width: 930px;
  width: 100%; }
  .carousel-item .image-opacity:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5; }

.carousel-control-next,
.carousel-control-prev {
  width: 10%; }

.navbar-nav {
  margin-left: 10%;
  margin-right: 10%; }

.carousel-caption {
  left: 10%;
  right: 10%;
  width: 40%; }
  .carousel-caption h2 {
    font-weight: 700; }
  .carousel-caption p {
    font-size: 12px; }

.carousel-indicators li {
  height: 5px;
  width: 20px;
  border-radius: 15px; }

.carousel-control-container {
  background-color: #b2b2b2;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
  .carousel-control-container .carousel-control-prev-icon,
  .carousel-control-container .carousel-control-next-icon {
    width: 10px;
    height: 10px; }

/* ========================================================================== */
/* REGISTRATION */
/* ========================================================================== */
.registration {
  font-size: 14px; }
  .registration .container {
    background-color: #f2f3f5; }
  .registration .container-small {
    max-width: 370px;
    width: 100%; }
  .registration h1 {
    font-size: 26px;
    font-weight: 700;
    color: #5b5a5a;
    padding: 30px 0; }
  .registration nav {
    max-width: 370px;
    width: 100%; }
    .registration nav div:first-child {
      width: 132px; }
    .registration nav div {
      width: 119px; }
    .registration nav a {
      text-align: center;
      padding: 10px 0;
      width: auto;
      border-bottom: 2px solid #b2b2b2; }
    .registration nav a:hover {
      color: #5335eb !important;
      border-bottom: 2px solid #5335eb; }
    .registration nav .active a {
      color: #5335eb;
      border-bottom: 2px solid #5335eb; }
  .registration .terms p {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 14px; }
  .registration .terms .terms-container {
    cursor: pointer; }

.terms-icon {
  display: none; }

.form-group {
  margin-bottom: 10px;
  position: relative; }

.form-control {
  height: 40px;
  padding-left: 20px;
  padding-right: 45px;
  font-size: 14px; }

.form-control:focus {
  border: 1px solid #99ccff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.custom-control-label a {
  color: #5335eb;
  text-decoration: underline; }

.custom-control-label a:hover {
  text-decoration: none; }

.custom-control {
  padding-left: 2rem; }

.custom-control-label::before {
  background-color: #fff; }

.custom-control-label::before,
.custom-control-label::after {
  top: 2px;
  left: -2rem;
  width: 20px;
  height: 20px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1 0 6 8'%3E%3Cpath fill='#5335eb' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }

form .btn {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 170px;
  background-color: #5335eb;
  color: #fff;
  border-radius: 15px;
  font-weight: 700;
  font-size: 14px; }

form .btn:hover {
  background-color: #755def; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: visibility;
  -o-transition-property: visibility;
  transition-property: visibility;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus,
.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
  border: 1px solid #ba122b; }

.invalid-tooltip {
  height: 20px;
  margin-top: 0;
  padding: 5px;
  font-size: 11px;
  line-height: 1;
  top: 25%;
  left: 98%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ba122b; }

.invalid-tooltip:after {
  content: "";
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ba122b;
  width: 0;
  height: 0;
  left: -5%;
  top: 25%; }

.invalid-icon,
.valid-icon {
  display: none;
  position: absolute;
  top: 25%;
  right: 5%; }

.custom-select.is-invalid ~ .invalid-icon,
.form-control.is-invalid ~ .invalid-icon,
.was-validated .custom-select:invalid ~ .invalid-icon,
.was-validated .form-control:invalid ~ .invalid-icon {
  display: block; }

.custom-select.is-valid ~ .valid-icon,
.form-control.is-valid ~ .valid-icon,
.was-validated .custom-select:valid ~ .valid-icon,
.was-validated .form-control:valid ~ .valid-icon {
  display: block; }

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus,
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border: 1px solid #ba122b;
  color: #ba122b; }

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus,
.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
  border: 1px solid #66cc66; }

.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #5b5a5a; }

.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #fff; }

@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin: 0; }
  .navbar-toggler {
    margin-left: 10px; }
  .container-fluid {
    padding: 0; }
  .carousel-caption {
    width: 80%; } }

@media only screen and (max-width: 768px) {
  .carousel-caption {
    text-align: center; } }

@media only screen and (max-width: 576px) {
  .registration nav div:first-child {
    width: 100%; }
  .registration nav a {
    text-align: left;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 2px solid #f2f3f5; }
  .registration nav a:hover {
    border-bottom: 2px solid #f2f3f5; }
  .registration nav .active a {
    background-color: #5335eb;
    border: none;
    color: #fff !important; }
  .terms nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .terms nav .terms-container {
      width: 100%; }
  .registration .terms p {
    background-color: #fff;
    padding: 10px;
    margin-top: 0; }
  .terms-icon {
    display: block; }
  .terms-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .terms-container a i {
      margin-right: 10px; }
  .custom-control {
    margin-left: 10px; }
  .custom-select.is-invalid ~ .invalid-tooltip,
  .form-control.is-invalid ~ .invalid-tooltip,
  .was-validated .custom-select:invalid ~ .invalid-tooltip,
  .was-validated .form-control:invalid ~ .invalid-tooltip {
    display: none; } }
